@charset "UTF-8";


body{
    background-color: rgba(0, 0, 0, 0.904);
}

#container{
    color: azure;
    border: 1px solid black;
    width: 60vw;
    height: 90vh;
    margin: auto;
    padding: 3%;

}

#conteudo{
    
    border: 3px solid purple;
    width: 80%;
    height: 70%;
    margin: 5%;
    padding: 5%;
}

form{
    
    font-size: 13pt;
    border:3px solid red;
    margin: 10px;
    padding: 3%;
    text-align: center;
    width: 90%;
    height: auto;
    
}

textarea{
    width: 80%;
    height: auto;

}

input{
    width: 30%;
    
}

h1,h2,h3,p{
    text-align: center;
}

#tranzacoes, #areaextrato, #form_saldo{
    display: none;
}

h1{
    color: rgb(0, 119, 20);
}

#btnModo{
    margin-bottom: 25px;
    width: 90px;
    height: 40px;
    background-color: rgb(94, 94, 94);
    font-size: 15px;
    color: aliceblue;
}
#l{
    font-size: 25px;
    color:rgb(0, 255, 128);
}

#saldo, #p_saldo{
    font-size: 25px;
    font-style: oblique;
    
}