@charset "UTF-8";


body{
    margin: 0;
    background:rgb(20, 20, 20);
}

#conteudo{
    
    width: 80%;
    height: 70%;
    margin: 5%;
    padding: 5%;
    background-color: rgba(240, 248, 255, 0.26);
    border-radius: 13px;
    border: 1px solid rgba(255, 255, 255, 0.26);
    box-shadow: 1px 1px 16px rgba(255, 255, 255, 0.37);
    padding: 25px;
    color: rgb(255, 255, 255);

}

textarea{
    width: 90%;
    height: 20%; 
    font-size: large; 
    padding: 10px;
    border-radius: 10px;
}

h1,h2,h3,p{
    text-align: center;
}

#transacoes,#areaExtrato , #areaSaldo{
    display: none;
}

fieldset{
    color: white;
    text-shadow: 1px 1px 6px rgba(7, 7, 7, 0.514) ;
    background-color: rgba(255, 255, 255, 0.034);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 16px rgba(255, 255, 255, 0.514);
    
}

input, #listaOndeGastou, #extrato{
    font-size: large;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(240, 248, 255, 0.11);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.329);    
}
option{
    color:rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.336);
}
input[type="number"] {
    max-width: 40%;
}
#saldo, #p_saldo{
    font-size: 40px;
    color:rgb(152, 253, 0);
}

label{
    font-size: 1.5em;
}

#areaSaldo{
    color:rgb(152, 253, 0);
    text-shadow: 1px 1px 6px rgba(7, 7, 7, 0.514) ;
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 5px;
    border: 1px solid rgb(152, 253, 0);
    box-shadow: 1px 1px 16px rgba(152, 253, 0, 0.384);
}

.estilo{
    color:rgb(0, 195, 255);
    text-shadow: 1px 1px 6px rgb(0, 68, 88) ;
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 5px;
    border: 1px solid rgb(0, 195, 255);
    box-shadow: 1px 1px 16px rgba(0, 195, 255);
}